@inject IRepositorio repositorio
@inject SweetAlertService Swal
@inject IJSRuntime js
@inject GestionZonaValidation gestionZona
@inject ZoneDestinationValidation gestionRelacion

<div class="card">
    <div class="card-header">
        <b>Catalogo de Zonas</b>
    </div>
    <div class="card-body">
        <div class="col-12">
            <EditForm Model="Zona" class="form col-12" OnValidSubmit="@SaveZona" Context="validacion">
                <FluentValidationValidator Validator="gestionZona" />
                <ValidationSummary />
                <div class="col-12 row">
                    <div class="col-3">
                        <label>Nombre de la Zona:</label>
                        <InputText @bind-Value="Zona.Nombre" class="form-control" MaxLenght="40" />
                    </div>
                    <div class="col-3 d-flex mt-auto">
                        @if (!isEdit)
                        {
                            <button class="col-12 btn gsum-bg-amarillo" type="submit">
                                <i class="fa fa-solid fa-plus"></i> Registrar Zona
                            </button>
                        }
                        else
                        {
                            <button class="col mx-2 btn gsum-bg-amarillo" type="submit">
                                <i class="fa fa-solid fa-check"></i>
                            </button>
                            <button class="col mx-2 btn gsum-bg-amarillo" @onclick="@cancelEdit" type="button">
                                <i class="fa fa-solid fa-xmark"></i>
                            </button>
                        }
                    </div>
                </div>
            </EditForm>
            <EditForm Model="@ZonaDestinoDTO" class="col-12" OnValidSubmit="@RelationClient" Context="item">
                <FluentValidationValidator Validator="gestionRelacion" />
                <ValidationSummary />
                <h6>Relacion Zona-Destino</h6>
                <div class="col-12 row">
                    <div class="col-4 row">
                        <label>Zona:</label>
                        <RadzenDropDown @bind-Value="ZonaDestinoDTO.zona" Data="Zonas" TValue="Zona" TextProperty="Nombre"
                                        AllowVirtualization="true" AllowFiltering="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" class="col-12">
                            <Template>
                                @((context as Zona)?.Nombre)
                            </Template>
                            <ValueTemplate>
                                @((context as Zona)?.Nombre)
                            </ValueTemplate>
                        </RadzenDropDown>
                    </div>
                    <div class="col-4">
                        <label>Destino:</label>
                        <RadzenDropDown @bind-Value="ZonaDestinoDTO.destino" Data="DestinoZona" TValue="CodDenDTO" TextProperty="Den"
                                        AllowVirtualization="true" AllowFiltering="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" class="col-12">
                        </RadzenDropDown>
                    </div>
                    <div class="col-3 d-flex mt-auto">
                        <button class="col-12 mx-auto btn gsum-bg-amarillo" type="submit">
                            <i class="fa fa-solid fa-plus"></i> Relacionar Destino-Cliente
                        </button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<!--Tabla de muestreo de datos-->
<div class="card mt-2" style="height: auto; overflow: scroll;">
    <div class="card-header">
        <b>Gestión de Zonas</b>
    </div>
    <div class="card-body">
        <div class="col-12 row">
            <div class="col-12">
                <Tabla Datos="Zonas">
                    <Cabeceras>
                        <tr>
                            <th>Nombre de la Zona</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </Cabeceras>
                    <Filtros>
                        <tr class="fila">
                            <td>
                                <input class="form-control form-control-sm" @oninput="LoadData" @bind="busquedaCatalogo.nombreZona" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </Filtros>
                    <Columnas Context="item">
                        <tr>
                            <td>@item.Nombre</td>
                            <!--Estado-->
                            <td>
                                <div class="form-check form-switch mx-2">
                                    <input class="form-check-input" type="checkbox" role="switch" id="@item.ID" checked="@item.Activo"
                                           @onchange="((ChangeEventArgs e) => HabilitarDeshabilitar(item, e))">
                                </div>
                            </td>
                            <!--Editar-->
                            <td>
                                <button class="btn btn-sm gsum-bg-amarillo" @onclick="@(()=>@SetZona(item))">
                                    <i class="fa fa-solid fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </Columnas>
                </Tabla>
            </div>
        </div>
    </div>
</div>
<div class="card mt-2" style="height: 200px; overflow: scroll;">
    <div class="card-header">
        <b>Filtrado de Zonas</b>
    </div>
    <div class="card-body">
        <div class="col-12 row">
            <div class="col-3 mb-2">
                <label>Destino:</label>
                <DropDownFilter Listado="DestinosFiltro" TListado="Destinos" TValue="int?" Propiedad_Valor="IDZona" On_Change_Method="@ChangeZona" @bind-Valor="DestinoFiltro.IDZona"
                                Default_Placeholder="Seleccione un Destino" FiltrarValor="Obtener_Zona">
                    <RenderValue>
                        @context.NomMS - @context.Estacion - @context.IDGob
                    </RenderValue>
                    <Render>
                        @context.NomMS - @context.Estacion - @context.IDGob
                    </Render>
                </DropDownFilter>
            </div>
        </div>
        <div class="col-12">
            <Tabla Datos="ZonaFiltro">
                <Cabeceras>
                    <tr>
                        <th>Nombre de la Zona</th>
                    </tr>
                </Cabeceras>
                <Columnas Context="item">
                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                    </tr>
                </Columnas>
            </Tabla>
        </div>
    </div>
</div>

@code {
    public Zona Zona { get; set; } = new Zona();
    public List<Zona> Zonas { get; set; } = new List<Zona>();

    ZonaDestinoDTO ZonaDestinoDTO { get; set; } = new ZonaDestinoDTO();
    public IEnumerable<CodDenDTO> DestinoZona { get; set; } = new List<CodDenDTO>();

    Dictionary<string, string> query = new Dictionary<string, string>();
    ParametrosBusquedaCatalogo busquedaCatalogo = new ParametrosBusquedaCatalogo();

    //Filtrado de destino para saber su Cluster
    public Destinos DestinoFiltro { get; set; } = new Destinos();
    public List<Destinos> DestinosFiltro { get; set; } = new List<Destinos>();
    public List<Zona> ZonaFiltro { get; set; } = new List<Zona>();
    //Termina propiedades para filtrado de destino para saber su Cluster

    bool isEdit = false;

    protected override async Task OnInitializedAsync()
    {
        await GetZone();
        await GetZones();
        await GetIlistDestinos();
        await GetDestinosList();
        await Obtener_Zona(string.Empty);
    }

    private async Task SaveZona()
    {
        try
        {
            var responseHttp = await repositorio.Post<Zona>($"api/zona/save", Zona);
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await Swal.FireAsync("Éxito", $"Zona {Zona.Nombre} ha sido creado con éxito", SweetAlertIcon.Success);
                await GetZone();
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task LoadData(ChangeEventArgs args)
    {
        busquedaCatalogo.nombreZona = args.Value?.ToString() ?? string.Empty;
        await GetZone();
    }

    private async Task GetZone()
    {
        try
        {
            query = new Dictionary<string, string>();
            query["nombreZona"] = busquedaCatalogo.nombreZona;
            var uri = Constructor_De_URL_Parametros.Generar_URL(query);
            var responseHttp = await repositorio.Get<List<Zona>>($"api/zona/list?{uri}");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Zonas = responseHttp.Response!;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task GetZones()
    {
        try
        {
            var responseHttp = await repositorio.Get<List<Zona>>($"api/zona/listado");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Zonas = responseHttp.Response!;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task HabilitarDeshabilitar(Zona gt, ChangeEventArgs tp)
    {
        try
        {
            var status = (bool)tp.Value!;
            var responseHttp = await repositorio.Put<bool>($"api/zona/{gt.ID}", status);
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                if (status)
                {
                    await Message($"{gt.Nombre} ha sido habilitado", SweetAlertIcon.Info);
                }
                else
                {
                    await Message($"{gt.Nombre} ha sido deshabilitado", SweetAlertIcon.Info);
                }
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Message(string Message, SweetAlertIcon icon)
    {
        await Swal.Mixin(new SweetAlertOptions
        {
            Position = "top-end",
            ShowConfirmButton = false,
            Timer = 1800,
            Toast = true,
        }).FireAsync(new SweetAlertOptions { Icon = icon, Text = Message });
    }

    private void SetZona(Zona zonas)
    {
        try
        {
            isEdit = true;
            Zona = zonas;
        }
        catch (Exception e)
        {
            throw e;
        }
    }

    private async void cancelEdit()
    {
        isEdit = false;
        Zona = new Zona();
    }

    private async Task GetIlistDestinos()
    {
        try
        {
            var response = await repositorio.Get<IList<CodDenDTO>>("api/destinos/listados");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                StateHasChanged();
                DestinoZona = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task RelationClient()
    {
        try
        {
            var response = await repositorio.Post<CodDenDTO>($"api/destinos/asignarZona/{ZonaDestinoDTO.zona.ID}", ZonaDestinoDTO.destino);
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await Swal.FireAsync("Exito", $"Destino asignado a {ZonaDestinoDTO.zona.Nombre}", SweetAlertIcon.Success);
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task GetDestinosList()
    {
        try
        {
            var responseHttp = await repositorio.Get<List<Destinos>>($"api/destinos/listado");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                DestinosFiltro = responseHttp.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task ChangeZona()
    {
        try
        {
            query = new Dictionary<string, string>();
            query["IDZona"] = DestinoFiltro.IDZona.ToString() ?? string.Empty;
            var uri = Constructor_De_URL_Parametros.Generar_URL(query);
            var responseHttp = await repositorio.Get<List<Zona>>($"api/destinos/listaZona?{uri}");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                StateHasChanged();
                ZonaFiltro = responseHttp.Response!;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Obtener_Zona(string value)
    {
        try
        {
            Dictionary<string, string> query = new();
            query["NomMS"] = value;

            var uri = Constructor_De_URL_Parametros.Generar_URL(query);

            var response = await repositorio.Get<List<Destinos>>($"api/destinos/filtraractivos?{uri}");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                StateHasChanged();
                DestinosFiltro = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

}

